
<div class="row journeyTextDiv">
    <div class="col-md-1" style="width: inherit;padding-right: 0px;">
        <img src="assets/images/[FoodieChallenge]Asset (12).png" class="clog-lg-1"/>
    </div>
    <div class="col-md-1" style="width: inherit;padding-left: 0px;padding-right: 0px">
        <p class="journeyText_a col-lg-1">{{journey}}</p>
    </div>
    <div class="col-md-10" style="width: inherit;padding-left: 0px;">
        <p class="journeyText_b" col-lg-10>/  {{cuisine}}</p>
    </div>
</div>

<div class="task effect1">
    <div class="row" style="margin: 5px;">
        <h3><span class="myBadge">2</span> Traditional American Desserts</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img ng-src="assets/images/[FoodieChallenge]Asset (16).png" class="img-responsive"/>
        </div>

        <div class="col-md-6">
            <map center="-34.397, 150.644" zoom="8"></map>
        </div>
    </div>
    <div class="row">
        <div class="divIntruction col-md-12">
            {{instruction}}
        </div>
    </div>
    <div class="row">
        <div class="divDescription col-md-9">
            {{description}}
            <div>
                <a href="" class="btn btn-default x-btn-default divSendTextNotification">Resend Text Notification</a>
            </div>
        </div>
        <div class="col-md-3 divTiming">
            Today 8:00 am - 9:00 pm<br/>
            Open now
            <hr/>
            (0510)653-3394<br/>
            applepiejoes.com
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px">
    <div class="col-md-4">
        <!--<a href="">Previous</a>-->
        <a href="" class="btn btn-default x-btn-default previousStyle">Previous</a>
    </div>
    <div class="col-md-4">
        <!--<a href="">Mark As Started</a>-->
        <a href="" class="btn btn-default x-btn-default markStyle">Mark as Started</a>
    </div>
    <div class="col-md-4">
        <!--<a href="">Next</a>-->
        <a href="" class="btn btn-default x-btn-default nextStyle">Next</a>
    </div>
</div>