<div class="row x-row">
        <div class="col-md-6 x-column-menu x-btn-con-show-one">
                    <a href="javascript:void(0);" ng-repeat="c in culinaris" class="btn btn-default x-btn-default {{c.selectedCls}}">{{c.name}}</a>
        </div>

       <div class="col-md-6 btn-group x-column-menu x-btn-con-show">
            <a class="btn x-btn-orange btn-default x-border-redius" href="javascript:void(0);">American</a>
            <a class="btn btn-default x-btn-orange x-border-redius dropdown-toggle" aria-expanded="false" href="javascript:void(0);" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li ng-repeat="c in culinaris"><a href="javascript:void(0);" >{{c.name}}</a></li>
            </ul>
       </div>
    <div class="col-md-6 btn-group ">
        <div class="btn-group x-float-right">
            <a class="btn btn-default x-border-2-redius dropdown-toggle" aria-expanded="false" href="javascript:void(0);" data-toggle="dropdown">
                Most Recent
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ><a href="javascript:void(0);" >Most Recent</a></li>
                <li ><a href="javascript:void(0);" >Highest Rated</a></li>
                <li ><a href="javascript:void(0);" >Top Reviewed</a></li>
            </ul>
        </div>
    </div>


</div>
<div class="x-hr row x-row"></div>
<div class="row x-row">
    <div class="col-md-6">
           <circular-progressbar culinary="culinary"></circular-progressbar>
           <div class="x-culinary-name">{{culinary.name}}</div>
           <div class="x-culinary-description">{{culinary.description}}</div>
    </div>
    <div class="col-md-6 x-culinary-follow">
        <div>
              <a  class="btn btn-default x-btn-default ">Duration:{{culinary.duration}}</a>
        </div>
        <div>
            <a  class="btn btn-default x-btn-default x-btn-orange">Follow</a>
        </div>
    </div>
</div>
<div class="row x-row-accordian" >
    <div class="col-md-12">
            <section ng-repeat="f in culinary.foods" id="accordion">
                <div>
                    <input type="checkbox" id="{{f.id}}"  ng-click="foodSelect(f.id)"/>
                    <label for="{{f.id}}"><a href="javascript:void(0)" class="x-circle x-number">{{$index + 1}}</a><a href="javascript:void(0)" class="x-circle-x x-number"></a>&nbsp;&nbsp;{{f.title}}</label>
                    <article>
                        <div class="row x-jurnal-detail">
                            <div class="col-md-3 x-restorent">
                                   <div class="x-restorent-name">{{f.restorents.name}}</div>
								   <div>
										   <img class="x-restorent-review" ng-repeat="n in [f.restorents.review_rate] | makeRange"  ng-src="assets/images/slices/Asset9.png" />
										   <img class="x-restorent-review" ng-repeat="n in [5-f.restorents.review_rate] | makeRange"  ng-src="assets/images/slices/Asset10.png" />
								           <span class="x-restorent-review-text">{{f.restorents.reviews}} reviews</span>
										   
								   </div>
								   <div class="x-restorent-food-speciality" >$$-{{f.restorents.food_speciality}}</div>
								   <div class="x-restorent-address">
											<span>{{f.restorents.street}},</span>
											<span>{{f.restorents.state}},</span>
											<span>{{f.restorents.zip_code}}</span>
								   </div>
                            </div>
                            <div class="col-md-3 x-restorent-contant">
                                        <div class="x-restorent-working-hour" ><span><b>Today</b> </span><span class="x-time" >{{f.restorents.contacts.oprational_hour}}</span></div>
										<div class="x-restorent-status">{{f.restorents.contacts.open_status}}</div>
										<div class="x-restorent-hr"></div>
										<div class="x-contact-no"><img ng-src="assets/images/slices/Asset14.png" /><a href="javascript:void(0)" class="btn btn-link"><span>({{f.restorents.contacts.phone_code}})</span><span>{{f.restorents.contacts.phone_number}}</span></a></div>
										<div class="x-contact-no"><img ng-src="assets/images/slices/Asset13.png" /><a href="javascript:void(0)" class="btn btn-link">{{f.restorents.contacts.website}}</a></div>
										
							</div>
                            <div class="col-md-3 x-restorent-photo">
							        <div >
							          <a href="javascript:void(0)" class="btn btn-link">
										<img class="x-restorent-img" ng-src="{{f.restorents.photos.thumb_img}}" />
									  </a>
									</div>
									<div class="x-phot-inner-text">
									       <div><img ng-src="{{f.restorents.photos.none.png}}" /></div>
									       <div><span>See all {{f.restorents.photos.no_of_photo_uploaded}} photos</span></div>
									</div>
							</div>
                            <div class="col-md-3 x-google-map">
                                <map center="{{f.restorents.map.center.latitude+','+f.restorents.map.center.longitude}}" zoom="{{map.zoom}}" >
                                    <marker position="{{f.restorents.map.center.latitude+','+f.restorents.map.center.longitude}}"></marker>
                                </map>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
    </div>
</div>
