
@font-face {
    font-family: welcomeHomeFont;
    src: url(../fonts/ProximaNova-Regular.otf);
}

.welcomeText{
    font-family: Calibri;
    font-size: 24px;
    color: #424242;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.tempDiv{
    vertical-align: middle;
    width: 22%;
}

.tempUpperDiv{
    'background-color: #CB3729;
    color: #fff;
    height: 140px;
    text-align:center;
    padding: 0px;
}

.tempLowerDiv{
    background-color: #fff;
    color: #555555;
    height: 140px;
    text-align:justify;
    padding-top: 15px;
    padding-left: 4%;
    padding-right: 4%;
}

.tempMainDiv{
    align-content: space-between;
    display: inline;
    margin: 0 1em 0 1em;

}

.tempDivDuration{
    color: #4A4A4A;
    font-weight: bold;
    text-align: left;
    padding-left: 1%;
    padding-top: 3%;
    padding-bottom: 3% ;
}

.progress {
    width: inherit;
    height: 140px;
    background: #CB3729;
    position: relative;
    border-radius: 0px;
}

.bar_10 {
    background: #FE5140;
    height: 140px;
    color: white;
    width:10%;
}

.bar_20 {
    background: #FE5140;
    height: 140px;
    color: white;
    width:20%;
}

.bar_30 {
    background: #FE5140;
    height: 140px;
    color: white;
    width:30%;
}

.bar_40 {
    background: #FE5140;
    height: 140px;
    color: white;
    width:40%;
}

.bar_50 {
    background: #FE5140;
    height: 140px;
    color: white;
    width:50%;
}

.bar_60 {
    background: #FE5140;
    height: 140px;
    color: white;
    width:60%;
}

.bar_20 {
    background: #FE5140;
    height: 140px;
    color: white;
    width:10%;
}

.bar_70 {
    background: #FE5140;
    height: 140px;
    color: white;
    width:70%;
}

.bar_80 {
    background: #FE5140;
    height: 140px;
    color: white;
    width:80%;
}

.bar_90 {
    background: #FE5140;
    height: 140px;
    color: white;
    width:90%;
}

.bar_100 {
    background: #FE5140;
    height: 140px;
    color: white;
    width:100%;
}

.bar_0 {
    background: #FE5140;
    height: 140px;
    color: white;
    width:0%;
}

.spanTemplateWelcomeHome {
    position: absolute;
    top: 5px;
    'z-index: 2;
    color: #fff;
    text-align: center;
    padding-top: 22%;
}
