
<div>
    <p class="welcomeText">{{title}}</p>
</div>

<!--<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="10"
         aria-valuemin="0" aria-valuemax="100" style="width:10%">
        <span class="sr-only">70% Complete</span>
    </div>
</div>-->



<!--<div class="tempDiv">
    <div class="tempUpperDiv">
        div1
    </div>
    <div class="tempLowerDiv">
        div2
    </div>
</div>-->

<div class="row">
<div ng-repeat="activity in activities" class="col-md-3">
    <activity-details activity="activity"></activity-details>
</div>
</div>